In [33]:

import numpy as np 
import pandas as pd

In [34]:
data = pd.read_csv("diabetes.csv")
data.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [35]:
data.shape

(768, 9)

In [36]:
data.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [37]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [38]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [39]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

***Split the data***

In [40]:
x= data.drop('Outcome',axis=1)
y=data['Outcome']
print(x.shape)
print(y.shape)

(768, 8)
(768,)

**Training the dataset**

In [41]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=2)
print('shape of x train is',x_train.shape)
print('shape of y train is',y_train.shape)
print('shape of x test is',x_test.shape)
print('shape of x test is',y_test.shape)

shape of x train is (614, 8)
shape of y train is (614,)
shape of x test is (154, 8)
shape of x test is (154,)

**Training the Model**

In [57]:
from sklearn import svm
from sklearn.metrics import accuracy_score

In [58]:
classifier = svm.SVC(kernel="linear")
classifier.fit(x_train,y_train)

SVC(kernel='linear')

**Accuracy**

In [60]:
x_train_predt= classifier.predict(x_train)
accuracy= accuracy_score(x_train_predt,y_train)

print(accuracy)

0.7719869706840391

Prediction System

In [61]:
input_data=(1,85,66,29,0,26.6,0.351,31)

input_np =np.asarray(input_data) 

reshape = input_np.reshape(1,-1)

std = sc.transform(reshape)
print(std)

prediction = classifier.predict(std)
print(prediction)

if(prediction[0]==0):
    print("Non Diabetes")
else:
    print("Diabetes")

[[-0.85811767 -1.16140567 -0.15693736  0.54028909 -0.68332473 -0.66667855
  -0.36567501 -0.19082586]]
[0]
Non Diabetes

# Saving the model

In [66]:
import pickle

In [67]:
file = 'trained_model.sav'
pickle.dump(classifier,open(file,'wb'))

In [68]:
loaded_model = pickle.load(open('trained_model.sav','rb'))

In [69]:
input_data=(1,85,66,29,0,26.6,0.351,31)

input_np =np.asarray(input_data) 

input_reshape = input_np.reshape(1,-1)

prediction = loaded_model.predict(input_reshape)
print(prediction)

if(prediction[0]==0):
    print("Non Diabetes")
else:
    print("Diabetes")

[0]
Non Diabetes