In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('Forest_fire.csv')
data.head(5)

        Area  Oxygen  Temperature  Humidity  Fire Occurrence
0   Jharkand      40           45        20                1
1  Bangalore      50           30        10                1
2    Ecuador      10           20        70                0
3          a      60           45        70                1
4  Bangalore      30           48        10                1

In [4]:
data.describe()

          Oxygen  Temperature    Humidity  Fire Occurrence
count  39.000000    39.000000   39.000000        39.000000
mean   33.846154    33.794872   36.282051         0.512821
std    23.734872    16.225677   28.046905         0.506370
min     0.000000     0.000000    0.000000         0.000000
25%    11.500000    20.000000   13.500000         0.000000
50%    30.000000    35.000000   30.000000         1.000000
75%    50.000000    45.000000   62.500000         1.000000
max    89.000000    60.000000  100.000000         1.000000

In [5]:
data.isnull().sum()

Area               10
Oxygen              0
Temperature         0
Humidity            0
Fire Occurrence     0
dtype: int64

In [6]:
data.columns

Index(['Area', 'Oxygen', 'Temperature', 'Humidity', 'Fire Occurrence'], dtype='object')

In [7]:
data.shape

(39, 5)

In [8]:
data.ndim

2

In [9]:
data.head(5)

        Area  Oxygen  Temperature  Humidity  Fire Occurrence
0   Jharkand      40           45        20                1
1  Bangalore      50           30        10                1
2    Ecuador      10           20        70                0
3          a      60           45        70                1
4  Bangalore      30           48        10                1

In [10]:
data.drop('Area',axis=1,inplace=True)
data.head(5)

   Oxygen  Temperature  Humidity  Fire Occurrence
0      40           45        20                1
1      50           30        10                1
2      10           20        70                0
3      60           45        70                1
4      30           48        10                1

In [11]:
data.head(5)

   Oxygen  Temperature  Humidity  Fire Occurrence
0      40           45        20                1
1      50           30        10                1
2      10           20        70                0
3      60           45        70                1
4      30           48        10                1

In [12]:
x = data.drop('Fire Occurrence',axis=1)
y = data['Fire Occurrence']
print(x.shape)
print(y.shape)

(39, 3)
(39,)

# using Train test split

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [15]:
print(X_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(31, 3)
(8, 3)
(31,)
(8,)

In [16]:
from sklearn.preprocessing import Normalizer

In [17]:
scaler = Normalizer().fit(X_train)
Normalizer_x = scaler.transform(X_train)
Normalizer_x_test = scaler.transform(x_test)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
model = LogisticRegression()

In [20]:
model.fit(X_train,y_train)

LogisticRegression()

# Check Accuracy

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
X_train_prediction = model.predict(X_train)

training_data_accuracy = accuracy_score(X_train_prediction,y_train)

In [23]:
print(training_data_accuracy)

1.0

# testing data accuracy

In [24]:
X_test_prediction = model.predict(x_test)

testing_data_accuracy = accuracy_score(X_test_prediction,y_test)

In [25]:
print(testing_data_accuracy)

1.0

# checking the output

In [26]:
input_data=(5,35,35)
input_np =np.asarray(input_data) 

reshape = input_np.reshape(1,-1)



prediction = model.predict(reshape)
print(prediction)

if(prediction[0]==0):
    print("There is no chance of Fire ")
else:
    print("There is a chance of fire")

[0]
There is no chance of Fire

In [27]:
import pickle

In [28]:
file = 'model.pkl'
pickle.dump(model,open('model.pkl','wb'))

In [29]:
loaded_model = pickle.load(open('model.pkl','rb'))

In [30]:
input_data=(60,34,15)
input_np =np.asarray(input_data) 

reshape = input_np.reshape(1,-1)



prediction = model.predict(reshape)
print(prediction)

if(prediction[0]==0):
    print("There is no chance of Fire ")
else:
    print("There is a chance of fire")

[1]
There is a chance of fire